In [ ]:

#TASK N0 1 (MUHAMMAD SHERJIL)
print("BUILT-IN FUNCTIONS")

#METHOD:MIN
#DESCRIPTION:RETURN THE MININUM VALUE IN THE LIST OF NUMBERS
lst = [2,9,10,44,99,1,9]
print(min(lst))

BUILT-IN FUNCTIONS
1

In [6]:
#METHOD:MAX
#DESCRIPTION:RETURN THE Maximum VALUE IN THE LIST OF NUMBERS
lst = [2,9,10,44,99,1,9]
print(max(lst))

99

In [1]:
#METHOD: ROUND
#DESCRIPTION: ROUND  THE NUMBER
number = 3.9
print(round(number))

4

In [11]:
#METHOD: ABSOLUTE
#DESCRIPTION: RETURN THE ABSOLUTE VALUE OF THE NUMBER
number = (-9)
print(abs(number))

9

In [14]:
#METHOD: REVERSE
#DESCRIPTION : REVERSE ENTIRE LIST
lst = [2,9,10,44,99,1,9]
lst.reverse()
print(lst)

[9, 1, 99, 44, 10, 9, 2]

In [15]:
#METHOD: SORT
#DESCRIPTION : ARRANGE LIST IN ACENDING ORDER
lst = [2,9,10,44,99,1,9]
lst.sort()
print(lst)

[1, 2, 9, 9, 10, 44, 99]

In [16]:
#METHOD: CLEAR
#DESCRIPTION: CLEAR THE LIST
lst = [2,9,10,44,99,1,9]
lst.clear()
print(lst)

[]

In [17]:
#METHOD: POP
#DESCRIPTION: REMOVE THE LAST VARIABLE
lst = [2,9,10,44,99,1,9]
lst.pop()
print(lst)

[2, 9, 10, 44, 99, 1]

In [18]:
#METHOD: COUNT
#DESCRIPTION: COUNT THE PARTICULAR VARIABLE
lst = [2,9,10,44,99,1,9,5,7,33,99]
print(lst.count(99))

2

In [20]:
#METHOD: EXTEND
#DESCRIPTION:COMBINE TWO LIST
lst1 = [2,9,10,44,99,1,9,5,7,33,99]
lst2 = [111,222,333,4444,555]
lst1.extend(lst2)
lst1

[2, 9, 10, 44, 99, 1, 9, 5, 7, 33, 99, 111, 222, 333, 4444, 555]